@model BrightIdeasPageModel
    <div class="fixedTopRight"><a href="Logout">Logout</a></div> 
<div style="width: 800px; background-color: whitesmoke; padding:5px;">

<div>
 <h1>Hello @Model.CurrentUser.UserName!</h1>
<form action="AddMessage" method="post">
    <textarea name="MessageContent" id="" style="width:80%;" cols="120" rows="3"></textarea>
    <input type="hidden" name="UserId" value="@Model.CurrentUser.UserId">
    <input class="btn btn-info fixedBottomRight"  type="submit" value="  Add Idea!   ">
</form>
</div>
<div style="width:95%;">
    <div class="divider"></div>
    @foreach (Message msg in @Model.ListOfMessages)
      {
        <div> 
            <div class="sideByside poster"> 
                <a href="/Users/@msg.MessageCreator.UserId">@msg.MessageCreator.UserName</a> says: 
                </div>
            <div class="sideByside padded"> 
                <div class="messageText">@msg.MessageContent </div>
                <div class="sideByside">
                        <form class="indented" action="AddLikeOld" method="post">
                                <input type="hidden" name="LikeContent" value="like">
                                <input type="hidden" name="UserId" value="@Model.CurrentUser.UserId">
                                <input type="hidden" name="MessageId" value="@msg.MessageId">
                                <input class="btn btn-link underlined" type="submit" value="Like">
                        </form> 
                </div>
                <div class="sideByside">
                    <a class="underlined" href="/IdeaInfo/@msg.MessageId"> @msg.ChildLikes.Count people</a> like this.
                </div>
            </div>
        </div>
         }
    </div>
</div>
</div>